@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: clamp(32px, 8vw, 48px);
    color: #260101;
    margin-top: 2.8rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 15px;
}

header{
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.nav-link {
    background-color: transparent;
    color: #260101;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease, transform 0.2s ease;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: bold;    
}

.top-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
}

.top-img-txt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.page-title {
    flex: 0 1 auto;
    text-align: left; 
    margin: 20px;
}

.face {
    flex: 1;
    max-width: 25%;
    margin-right: 20rem;

}

.introduction-section {
    padding: 40px 15%;
    text-align: center;
}   

img {
    max-width: 100px;
    height: auto;
    border-radius: 10px;
}

.skills-section {
    width: 80%;
    margin: 60px auto;
}

.what-i-do {
    font-size: 1.8rem;
    font-weight: 700;
    color: #4b0a0a;
    text-align: left;
    margin-bottom: 40px;
}


.skills-container {
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 80px;
}

.skills-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.skills-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #4b0a0a;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.vertical-line {
    width: 2px;
    height: 150px;
    background-color: #4b0a0a;
}


.skills-icons {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill img {
    width: 60px;
    height: auto;
    transition: transform 0.3s ease;
}

.skill img:hover {
    transform: scale(1.1);
}

h2{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #260101;
    margin-bottom: 20px;
}

.canvas-section {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    width: fit-content;
    gap: 0px;    
}

#canvas {
    max-width: 100%;
    height: auto;
    background-color: #eee;
    display: block;
}

#cta {
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    overflow: hidden;
    position: relative;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    margin-top: -15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(20, 8px);
    grid-template-rows: repeat(6, 8px);
    gap: 0px;
    width: 100%;
    position: relative;
}

.pixel {
    width: 8px;
    height: 8px;
    background-color: #ccc;
    transition: background-color 0.5s ease;

}

.button-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #4b0a0a;
    font-weight: 700;
    font-size: 12px ;
    transition: color 1s ease;
    pointer-events: none;
}

#cta:hover .button-text{
    color: #ccc;
}

.canvas{
    width: 300px;
    height: 300px;
}

/* ---  MOBILE --- */
@media (max-width: 768px) {
    
    .top-img-txt {
        flex-direction: column; 
        text-align: center;
        gap: 15px;
    }
    

    .introduction-section {
        padding: 40px 5%;
    }

    .skills-container {
        flex-direction: column;
    }

    .skills-label {
        flex-direction: column;
    }

    .skills-title {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
    }

    .vertical-line {
        width: 100px;
        height: 2px;
    }

    .skills-icons {
        justify-content: center;
    }

    #cta {
        margin-top: 5px;
    }
}