@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: clamp(32px, 5vw, 48px); 
    color: #260101;
    margin-bottom: 20px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #000;
}

/* --- HEADER & NAV --- */
header {
    background-color: #fff;
    padding: 20px;
    width: 100%;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; 
}

.nav-link {
    text-decoration: none;
    color: #260101;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s;
    display: inline-block;
}

.nav-link:hover {
    transform: scale(1.07);
    color: #5e0c0c;
}

/* --- SECTION PRINCIPALE --- */
.top-section {
    display: flex;
    flex-direction: row; 
    justify-content: center;    
    align-items: center;               
    padding: 60px 10%;
    background: #ffffff;
    gap: 40px;
}

.page-title {
    flex: 2; 
    display: flex;
    flex-direction: column;
}

.introduction-section {
    padding: 40px 10%;
    text-align: center;
}   

img {
    max-width: 100px;
    height: auto;
    border-radius: 10px;
}

.skills-section {
    width: 80%;
    margin: 60px auto;
}

.what-i-do {
    font-size: 1.8rem;
    font-weight: 700;
    color: #4b0a0a;
    text-align: left;
    margin-bottom: 40px;
}

.skills-container {
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 80px;
}

.skills-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.skills-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #4b0a0a;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.vertical-line {
    width: 2px;
    height: 150px;
    background-color: #4b0a0a;
}

.skills-icons {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill img {
    width: 60px;
    height: auto;
    transition: transform 0.3s ease;
}

.skill img:hover {
    transform: scale(1.1);
}

h2{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #260101;
    margin-bottom: 20px;
}

.canvas-section {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    width: fit-content;
    gap: 0px;    
}

#canvas {
    max-width: 100%;
    height: auto;
    background-color: #eee;
    display: block;
}

#cta {
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    overflow: hidden;
    position: relative;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    margin-top: -15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(20, 8px);
    grid-template-rows: repeat(6, 8px);
    gap: 0px;
    width: 100%;
    position: relative;
}

.pixel {
    width: 8px;
    height: 8px;
    background-color: #ccc;
    transition: background-color 0.5s ease;
}

.button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #4b0a0a;
    font-weight: 700;
    font-size: 12px ;
    transition: color 1s ease;
    pointer-events: none;
}

#cta:hover .button-text{
    color: #ccc;
}

.canvas{
    width: 300px;
    height: 300px;
}

/* ---  MEDIA QUERIES --- */
@media (max-width: 767px) {
    .navbar ul {
        gap: 15px;
    }

    .top-section {
        flex-direction: column-reverse; 
        padding: 40px 5%;
        text-align: center; 
    }

    .page-title {
        width: 100%;
        align-items: center; 
    }

    .introduction-section {
        padding: 30px 5%; 
    }

    .skills-container {
        flex-direction: column;
    }

    .skills-label {
        flex-direction: column;
    }

    .skills-title {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
    }

    .vertical-line {
        width: 100px;
        height: 2px;
    }

    .skills-icons {
        justify-content: center;
    }

    #cta {
        margin-top: 5px;
    }
}