@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;800&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #260101;
    margin-bottom: 20px;
}

h2{
    font-family: 'Rubik', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #000;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.nav-link {
    text-decoration: none;
    color: #260101;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s;
}

.nav-link:hover {
    transform: scale(1.07);
    color: #5e0c0c;
}

/* --- SECTION PRINCIPALE --- */
.top-section {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    align-items: center;               
    padding: 60px 10%;
    background: #ffffff;
    gap: 40px;
}


.page-title {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.block {
    width: 300px;
    height: 300px; 
    

    max-width: 90vw;
    max-height: 90vw;
    min-width: 200px;
    min-height: 200px;
    
    border: 1px solid #222; 
    cursor: pointer;
    image-rendering: pixelated;
    transition: transform 0.1s ease-out;
    flex-shrink: 0;
}

.block:hover{
    transform: scale(1.05);
}

.block.is-mined {
    transform: scale(0.9);
}


.top-img-txt{
    width: 80%;
    align-items: baseline;
    font-size: 20px;
    margin-top: 20px ;
}

.top-img-txt-2{
    margin-top: 30px;
}

.grass-texture{
    background-image: url(../img/grass_block_side_512x512.png);
    background-size: contain;
}

.ice-texture{
    background-image: url(../img/blue_ice_512x512.png);
    background-size: contain;
}

.cobblestone-texture{
    background-image: url(../img/cobblestone_512x512.png);
    background-size: contain;
}

.jacko-texture{
    background-image: url(../img/jack_o_lantern_512x512.png);
    background-size: contain;
}

.mangrove-texture{
    background-image: url(../img/mangrove_log_top_512x512.png);
    background-size: contain;
}

.introduction-section {
    padding: 40px 10%;
    background-color: #fff;
    margin-top: 40px;
}

.about-portfolio-projets{
    padding: 40px 10%;

    h2{
        margin-bottom: 10px;
        font-size: 24px;
    }

    p{
        margin-top: 40px;
    }
}


/* --- MEDIA QUERIES --- */

/* MOBILE (Moins de 768px) */
@media (max-width: 767px) {
    .top-section {
        flex-direction: column-reverse; 
        padding: 40px 5%;
        text-align: center;
        gap: 30px;
    }

    .page-title {
        width: 100%;
        align-items: center;
    }

    .block {
        width: 200px;
        height: 200px;
    }
}

/* TABLETTE (Entre 768px et 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .top-section {
        padding: 60px 2%; 
    }
    
    .block {
        width: 300px;
        height: 300px;
        min-width: 300px;
        min-height: 300px;
    }
}

/* DESKTOP (992px et plus) */
@media (min-width: 992px) {
    .block {
        width: 360px;
        height: 360px;
        min-width: 360px;
        min-height: 360px;
    }
}